{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <div class="container">
        <h1>Stats</h1>
        <span class="stat-title">Total Messages: </span>
        <p>{{totalMessagesFromChannel}}</p>
        <span class="stat-title">Most Users</span>
        <p>The Most users in channel were: {{ mostFullTime.count }} on {{mostFullTime.timestamp}} {{ mostFullTime.timeSince.days }} days ago.. </p>
        <span class="stat-title">Topic</span>
        <p>The latest channel topic is: {{topic}}</p>
        <span class="stat-title">Latest JSFiddles</span>
        <div class="cf">
            <img src="{% static 'img/jsfiddle-logo.png' %}" class="js-fiddle-logo" />
            <ul class="jsfiddles-list">
            {% for fiddle in fiddles %}
                <li><a href="{{fiddle.fiddleLink}}" target="_blank">{{fiddle.fiddleLink}}</a> posted by <strong><a class="user-link" title="Click to view {{fiddle.user}}'s page" href="{% url 'stats.views.getUserInfo' channelNameHash fiddle.user %}">{{fiddle.user}}</a></strong> on {{fiddle.timestamp}}</li>
            {% endfor %}
            </ul>
        </div>
        <h2>Users in the channel</h2>
        <h3>Since January</h3>
        <div class="fullCount"></div>

        <h3>Past week</h3>
        <div class="pastWeekCount"></div>

        <h3>Past 24 hours</h3>
        <div class="pastDayCount"></div>

        <h3>Chatty Users</h3>
        <label><input type="checkbox"> Sort values</label>
        <div class="chattyUsers"></div>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/requirejs/require.js' %}" data-main="{% static 'js/main' %}"></script>
{% endblock %}