{% extends "base.html" %}
{% load staticfiles %}
{% block title %} - {{username}}{% endblock %}
{% block content %}
    <div class="container page-wrap" data-user="{{username}}">
        <h1>Log</h1>
        <a class="return-to-stats" href="{% url 'stats_home' %}">Return to stats</a>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% if results %}
        <div class="results-wrapper" data-ref="{{id}}">
        	<ul>
        		{% for item in results %}
        			<li data-ref="{{item.id}}">
        				<span class="search-timestamp">[{{item.timestamp}}]</span>
        				<span class="search-user">&lt;<a href="{% url 'stats_userinfo' item.user %}">{{item.user}}&gt;</a></span>
        				<span class="search-content">{{item.content}}</span>
        			
        			</li>
        		{% endfor %}
        	</ul>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/requirejs/require.js' %}" data-main="{% static 'js/modules/search' %}"></script>
{% endblock %}