{% extends "base.html" %}
{% load staticfiles %}
{% block title %} - {{username}}{% endblock %}
{% block content %}
    <div class="container page-wrap" data-user="{{username}}">
        <h1>Search</h1>
        <h2>{{q}}</h2>
        <a class="return-to-stats" href="{% url 'stats_home' %}">Return to stats</a>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% if results %}
        <p style="font-weight: bold;">Click on timestamp to view log, or username to view their info</p>
        <div class="results-wrapper">
        	<ul>
        		{% for item in results %}
        			<li>
        				
	        				<span class="search-timestamp"><a href="{% url 'stats_convopartial' item.id %}">[{{item.timestamp}}]</a></span>
	        				<span class="search-user">&lt;<a href="{% url 'stats_userinfo' item.user %}">{{item.user}}&gt;</a></span>
	        				<span class="search-content">{{item.content}}</span>
	        			
        			
        			</li>
        		{% endfor %}
        	</ul>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'vendor/requirejs/require.js' %}" data-main="{% static 'js/modules/search' %}"></script>
{% endblock %}