{% extends "base.html" %}
{% load staticfiles %}
{% block title %} - {{username}}{% endblock %}
{% block content %}
    <div class="container" data-user="{{username}}">
        <h1>Stats for {{username}}</h1>
        <a href="{% url 'stats.views.index' 'web' %}">Return to stats</a>
        {% if isUserOnline %}
        <p>{{username}} is online, but hasn't spoken for {{notSeenFor.days|default:"0" }} days, {{notSeenFor.hours}} hours, {{notSeenFor.minutes}} minutes</p>
        {% else %}
        <p>{{username}} is offline, and hasn't been seen for {{notSeenFor.days|default:"0" }} days, {{notSeenFor.hours}} hours, {{notSeenFor.minutes}} minutes</p>
        {% endif %}
        {% if isUserOnline %}
        <div class="online-or-offline-container online">
        {% else %}
        <div class="online-or-offline-container offline">
        {% endif %}
        <span class='online'>Online</span>
        <span class='offline'>Offline</span>
        </div>
        <div class="first-seen">
        <h3> First Seen </h3>
        {% for item in firstSeen %}
            <div class="seen-table {{item.isUser}}">
                <span class="seen-table-timestamp">{{item.timestamp}}</span>
                <span class='seen-table-user'>&#60;{{item.user.user}}&gt;</span>
                <span class="seen-table-content">{{item.content}}</span>
            </div>
        {% endfor %}
        </div>

        <div class="last-seen">
        <h3> Last Seen </h3>
        {% for item in lastSeen %}
            <div class="seen-table {{item.isUser}}">
                <span class="seen-table-timestamp {{item.isUser}}">{{item.timestamp}}</span>
                <span class='seen-table-user'>&#60;{{item.user.user}}&gt;</span>
                <span class="seen-table-content">{{item.content}}</span>
            </div>
        {% endfor %}
        </div>

        <div class="cf">
            <div class="more-stats">
            <p>Total messages..</p>
            <p class="user-total-messages">{{userMessageCountOverall}}</p>
            </div>

            <div class="time-online">
                <h4>Time of day spent online</h4>
                {{getUserTimeOnline}}
            </div>
        </div>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    </div>
{% endblock %}