body { 
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill:  rgb(143, 177, 206);
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.bar {
  fill: rgb(143, 177, 206);
  fill-opacity: .9;
}

.header-web-logo {
  width: 150px;
  margin: 10px 0;
  float: left;
}

.last-seen {
  margin-bottom: 16px;
}

.main-heading {
  background-color: #222;
  padding: 0 30px;
}

.site-title {
  color: #fff;
}

.return-to-stats {
  background-color: #667EFF;
  color: #FFF;
  text-decoration: none;
  margin-bottom: 5px;
  display: inline-block;
  padding: 5px;
}

.return-to-stats::before {
  content: '<';
  margin-right: 6px;
  font-weight: bold;
}

.logo {
	width: 240px;
}

.js-fiddle-logo {
  width: 132px;
  position: relative;
  right: 13px;
  float: left;
}
.seen-table.user {
  background-color: rgba(0, 128, 0, 0.2);
}

.user-link {
  text-decoration: underline;
}

.seen-table.user::before{
  content: '---->';
  position: absolute;
}

.seen-table-timestamp {
  min-width: 100px;
  padding: 30px;
}

.stat-title {
  display: block;
  font-weight: bold;
}

.online-or-offline-container span {
  color: #FFF;
  padding: 7px;
}

.online-or-offline-container .online {
  background-color: green;
}

.online-or-offline-container.offline .online, .online-or-offline-container.online .offline {
  background-color: grey;
}

.online-or-offline-container .offline {
  background-color: red;
}

.jsfiddles-list {
  list-style: none;
}

table .jsfiddles-list {
  padding-left: 0;
}

.jsfiddles-list li {
  margin-bottom: 7px;
}

.user-total-messages {
  font-size: 50px;
}

.more-stats {
  float: left;
  margin-right: 90px;
}

.time-online {
  float:left;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}